<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar</title>
    </head>
    <body>

        <h2>Editar Usuário</h2>

        <form action="/update_user" method="POST">

            <input type="hidden" name="id" value="{{users[0]}}">
            Nome:
            <input type="text" name="name" value="{{users[1]}}">
            <br><br>
            Email:
            <input type="text" name="email" value="{{users[2]}}">
            <br><br>
            <button type="submit">Salvar</button>
            
        </form>

    </body>
</html>