<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
        <title>King of Projects</title>
    </head>
    <body>
        <h1 class="titulo">Criar sua Conta </h1>

        <form action="/cadastrar_usuario " method="POST">

            <label class="dados">Nome:</label>
                <input class="informacao" type="text" name="nome" placeholder="Digite o Nome de Usuário"> 
                <br><br>

            <label class="dados">Email:</label>
            <input class="informacao" type="email" name="email" placeholder="Digite o E-mail">
                <br><br>

            <button class= "criar" Type="submit">Criar</button>
            <br><br>
        </form>

        <form action="/lista_de_pessoas">
            <a heref="/usuarios.html">
            <button class="ver">Ver usuarios</button>
            </a>
        </form>

    </body>

</html>